.theme-form {

  .form-row {
    @apply
    mb-4
    gap-4
    ;

    > label {
      @apply
      block
      italic
      text-gray-500
      pl-1
      py-2
      w-full
      ;
    }

    > .form-control {
      @apply col-span-2;
    }

    input,
    select,
    textarea {
      @apply
      px-3
      py-2
      col-span-2
      block
      rounded-md
      bg-gray-50
      border-gray-200
      grow
      w-full

      transition
      duration-150
      ease-in-out

      focus:border-primary
      focus:bg-white
      focus:ring-0
    }

    .help-text {
      @apply
      text-sm
      text-gray-400
      ;
    }

    &.error {
      label {
        @apply text-red-500;
      }

      input,
      select,
      textarea {
        @apply
        border-red-500
        bg-red-50
        ;
      }

      .help-text {
        @apply
        text-red-500
        ;
      }
    }
  }

  .form-actions {
    @apply p-5;
  }
}
