---
import Layout from '~/layouts/Layout.astro';
import { getImage } from 'astro:assets';
import contactImg from '~/assets/img/contact.jpg';
import ContactForm from '~/components/contact/ContactForm.tsx';

const backgroundImage = await getImage({
  src: contactImg,
  formats: ['webp'],
  placeholder: 'blur',
  quality: 100,
  inferSize: true,
  width: 300,
});
---

<Layout title="Contact">
  <div class="absolute inset-0 -z-10 h-full w-full bg-white print:hidden">
    <div
      class="bg-cover bg-center bg-no-repeat w-[600px] min-h-[calc(100dvh-80px)] hidden md:block"
      style={`background-image: linear-gradient(100deg, #ffffffaa, #dfccf9cc, #ffffffee, #ffffffff), url('${backgroundImage.src}');`}
    />
  </div>
  <div class="flex justify-center items-center h-full">

    <div class="max-w-[600px] p-10 mx-auto my-5 md:border md:rounded-md md:shadow-md bg-white">
      <h1 class="w-full text-4xl mb-10 text-left font-handwriting text-primary">
        Contact
      </h1>
      <hr class="border-t border-gray-200 mb-10" />
      <p class="text-left text-md mb-10">
        Have a question or want to work together?
        Send me a message and I'll get back to you as soon as possible.
      </p>
      <div>
        <ContactForm client:load />
      </div>
    </div>
  </div>
</Layout>
