---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import Layout from '~/layouts/Layout.astro';
import AvatarImg from '~/assets/img/me/3.png';
---

<Layout title="Resume">
  <div class="print:hidden absolute inset-0 bg-violet-400 bg-[size:20px_20px] opacity-20 blur-[100px]"></div>

  <div class="relative max-w-full min-h-screen px-0 sm:px-4 print:px-0 py-10 print:py-5">

    <!-- resume page -->
    <!--<div class="w-full sm:max-w-[52rem] lg:aspect-[8.5/11] bg-white sm:rounded-md shadow-xl mx-auto-->
    <div class="w-full sm:max-w-[52rem] bg-white sm:rounded-md shadow-xl mx-auto
                print:w-[52rem] print:h-[100vh] print:aspect-[8.5/11] print:rounded-none print:shadow-none">
      <div class="relative w-full h-full flex flex-col p-4 md:p-10 print:p-4">

        <!-- header -->
        <div class="w-full flex flex-col sm:flex-row justify-between sm:items-center gap-10">
          <div class="flex sm:justify-between items-center gap-6">
            <div>
              <Image
                src={AvatarImg}
                width={300}
                alt="Michal Ilyayev"
                class="w-28 h-28 bg-gray-300 rounded-md shrink-0 object-cover object-center shadow-md contrast-75 brightness-150"
              />
            </div>
            <div>
              <h1
                class="text-xl print:text-4xl sm:text-4xl font-[400] font-serif italic border-b border-gray-300 pb-2 mb-2">
                Michal Ilyayev
              </h1>
              <p class="text-gray-500 text-md sm:text-xl print:text-xl italic">
                Software Developer
              </p>
            </div>
          </div>
          <div class="flex sm:justify-end print:justify-end">
            <div class="flex flex-col w-fit sm:items-start print:items-start gap-1.5 text-gray-600 text-sm">
              <a
                class="flex items-center gap-2"
                href="https://michal-ilyayev.github.io"
                target="_blank"
              >
                <Icon name="mdi:web" size={20} class="text-gray-500" />
                https://michal-ilyayev.github.io
              </a>
              <a
                class="flex items-center gap-2"
                href="https://www.linkedin.com/in/michal-ilyayev/"
                target="_blank"
              >
                <Icon name="mdi:linkedin" size={20} class="text-gray-500" />
                linkedin.com/in/michal-ilyayev/
              </a>
              <a
                class="flex items-center gap-2"
                href="mailto:michal.ilyayev@gmail.com"
                target="_blank"
              >
                <Icon name="mdi:email" size={20} class="text-gray-500" />
                michal.ilyayev@gmail.com
              </a>
              <a
                class="flex items-center gap-2"
                href="https://www.google.com/maps/place/Thornhill,+Vaughan,+ON/@43.8096,-79.4591"
                target="_blank"
              >
                <Icon name="mdi:map-marker" size={20} class="text-gray-500" />
                Thornhill, Ontario, CA
              </a>

            </div>
          </div>
        </div>
        <!-- header end -->

        <!-- resume body -->
        <div class="resume-body">
          <section>
            <h2>
              Summary
            </h2>
            <p>
              Aspiring Computer Science student with a growing interest in software development and a passion for
              learning new technologies. While my professional experience is limited, I have gained exposure to web
              development frameworks like Astro and React and have developed proficiency in languages like
              JavaScript, HTML, CSS, and Python through high-school, personal projects and internships.
            </p>
            <p>
              I am highly motivated to expand my knowledge in Computer Science and look forward to developing my skills
              further in a university environment. Eager to embrace new challenges, contribute to projects, and learn
              from experienced professionals in the field.
            </p>
          </section>

          <div>
            <h2>
              Experience
            </h2>

            <section>
              <div class="section-heading">
                <h3>
                  Web Development Intern, NEMAL Technologies
                </h3>
                <span>Aug 2024 - Present</span>
              </div>
              <p>
                NEMAL is a boutique software development company that specializes in
                providing custom software solutions for small businesses and Startups.
                As an intern, I work closely with a team of highly experienced Software Engineers to develop and
                maintain web applications for our clients.
                In this role I am assisting with UI/UX design and creating responsive and
                user-friendly web applications using React, Tailwind CSS, and Astro.
              </p>
            </section>
            <section>
              <div class="section-heading">
                <h3>
                  Community Involvement
                </h3>
              </div>
              <ul>
                <li>
                  <strong>President & Head of the Art and Technology units for the Shield Initiative Club</strong><br />
                  Revived the club in 2023, and led a team of 12 students in creating and distributing wooden shields
                  for sick children in hospitals.
                  Following last year's success, the club has expanded this year to +60 students.
                </li>
                <li>
                  <strong>Art Club Assistant at JRCC</strong>:
                  Instructed small groups (ages 5-8) in holiday Art projects.
                </li>
                <li>
                  <strong>Swimming Instructor</strong>: Taught children (ages 3-12) swimming techniques and water
                  safety.
                </li>
                <li>
                  <strong>Babysitting</strong>: Supervised children (ages 3-9) and organized age-specific activities and
                  meal plans.
                </li>
              </ul>
            </section>
          </div>


          <div>
            <h2>Education</h2>
            <section>
              <div class="section-heading">
                <h3>Ontario Secondary School Diploma (OSSD), Westmount CI</h3>
                <span>Sept 2021 - June 2025</span>
              </div>
              <p>
                Currently a Grade 12 student at Westmount Collegiate Institute, Visual Arts Program.
                Taking University level courses in Computer Science, Visual Arts, Advanced Functions, Calculus &
                Vectors, Physics, Chemistry, and English.
                Honour Roll student with multiple awards for academic excellence, creativity, and leadership.
              </p>
            </section>
            <section>
              <div class="section-heading">
                <h3>Extracurriculars and self-study</h3>
              </div>
              <ul>
                <li>
                  <strong>Programming</strong> - online courses and tutorials: Python, HTML & CSS, JavaScript, and
                  more...
                </li>
                <li>
                  <strong>Swimming</strong> since I was 3 months old
                  <ul class="my-2">
                    <li>
                      Competed in many Swimming Competitions (including the YRAA last year) and won multiple medals
                    </li>
                    <li>
                      Certified Lifesaving and Swim Instructor
                    </li>
                  </ul>
                </li>
                <li>
                  <strong>Private Art Class</strong> since 2019.
                  Developed creativity and collaboration skills through various art projects
                </li>
                <li>
                  <strong>Private Piano Lessons</strong> since 2021.
                  Successfully performed twice in the school's talent show
                </li>
              </ul>
            </section>
          </div>

          <section>
            <h2>Skills</h2>
            <ul>
              <li>
                <strong class="font-bold">Software Development</strong>: Python, JavaScript, HTML, CSS, Astro, React,
                Tailwind CSS, PyGame, Git
              </li>
              <li>
                <strong>UI & Digital Design</strong>: Figma, Adobe Photoshop, Adobe Illustrator, Canva
              </li>
              <li>
                <strong>Visual Arts</strong>: Proficient in drawing and painting with various mediums,
                Digital Art, 3D Design, Photography
              </li>
              <li>
                <strong>Personality and Soft Skills</strong>: Responsible, Kind, Team Player, Self-Organized,
                Detail-Oriented, Creative, Persistent, Optimistic, Resourceful, Curious, and Open-Minded
              </li>
              <li>
                <strong>Languages</strong>: Fluent in English, Hebrew and Russian
              </li>
            </ul>
          </section>

          <section>
            <h2>
              Honors, Awards, Certifications
            </h2>
            <ul>
              <li>
                Honour Roll, Westmount Collegiate Institute (2023-2024)
              </li>
              <li>
                Citizenship Award, Courage and Leadership (2023-2024)
              </li>
              <li>
                First Place in DEGA International Art Competition (2023)
              </li>
              <li>
                Honour Roll, Westmount Collegiate Institute (2022-2023)
              </li>
              <li>
                Academic Award, Communication Technology (2022-2023)
              </li>
              <li>
                Academic Award, Technological Design (2022-2023)
              </li>
              <li>
                Merit Award, Visual Arts (2022-2023)
              </li>
              <li>
                Standard First Aid with CPR "C" Certification (May, 2023)
              </li>
              <li>
                Swimming and Life-saving Instructor Certification (March, 2023)
              </li>
              <li>
                Assistant Instructor Certification (February, 2023)
              </li>
              <li>
                Red Cross Babysitting Certification (August 2020)
              </li>
            </ul>
          </section>


          <section>
            <h2>Hobbies</h2>

            <p>
              Sketching and painting (landscapes, human features, and structures),
              swimming, playing the piano, badminton, art, music, and outdoor activities.
            </p>
          </section>

          <section>
            <h2>References</h2>
            <p>
              Available upon request.
            </p>
          </section>

        </div>
        <!-- resume body end -->

      </div>
    </div>
    <!-- resume page end -->
  </div>
</Layout>


<style lang="scss">

  .resume-body {
    h2 {
      @apply mt-10 text-lg font-serif font-bold border-b border-gray-300 pb-2 mb-4;

    }

    section {
      break-inside: avoid;
    }

    .section-heading {
      @apply flex justify-between items-center flex-wrap gap-2 w-full mt-5 mb-2;

      span {
        @apply text-gray-700 text-sm italic;
      }
    }

    h3 {
      @apply font-semibold italic text-gray-800;
    }

    ul {
      @apply list-disc list-outside ml-4;
    }

    li,
    p {
      @apply text-gray-600 mb-2 mr-2 text-sm;
    }

    strong {
      @apply font-semibold text-gray-800;
    }
  }

</style>
