---
import { Image } from 'astro:assets';
import logoImg from '~/assets/img/my-logo.png';
import Navbar from './Navbar.astro';
---

<header class="sticky h-[90px] top-0 w-full bg-white drop-shadow-sm z-20 flex items-center justify-center"
  style="background-color: rgba(255, 255, 255, 0.8); backdrop-filter: saturate(180%) blur(20px);"
>
  <div class="page-container flex items-center justify-between gap-5">
    <div class="flex items-center">
      <a href="/" class="flex flex-row items-center gap-3 text-gray-400 hover:text-primary transition-all group">
        <Image src={logoImg} loading="eager" width={200} alt="Logo"
          class="h-12 md:h-14 w-auto transform bg-blend-overlay group-hover:saturate-200 transition-all"
        />
        <span class="font-handwriting text-lg pt-4">
          Michal Ilyayev
        </span>
      </a>
    </div>
    <div class="flex flex-row-reverse lg:flex-row items-center print:hidden">
      <div class="ml-7 lg:mr-7">
        <Navbar />
      </div>
    </div>
  </div>
</header>