---
import { Image } from 'astro:assets';
import siLogoImg from '~/assets/si/si-logo.png';
---

<div class="text-center">
  <a href="/portfolio/shield-initiative/">
    <Image
      src={siLogoImg} width={200}
      alt="The Shield Initiative"
      class="h-[200px] w-[200px] object-cover object-center mx-auto mb-8 p-3 rounded-full shadow-md drop-shadow-md bg-gradient-to-br from-pink-100 via-red-50 to-emerald-100"
    />

    <div>
      <h1 class="text-2xl xl:text-4xl text-red-500 mb-1 italic font-bold">
        The Shield Initiative
      </h1>
      <p class="text-md xl:text-lg text-red-600 py-1 px-2 italic bg-yellow-50">
        Because every hero needs a shield
      </p>
    </div>
  </a>
</div>