---
import NavLink from '../NavLink.astro';
import ContactLinks from './ContactLinks.astro';
import { Icon } from 'astro-icon/components';
---

<nav>
  <ul>
    <li>
      <NavLink href="/">Home</NavLink>
    </li>
    <li>
      <NavLink href="/terms/">Terms</NavLink>
    </li>
    <li>
      <NavLink href="/privacy/">Privacy</NavLink>
    </li>
    <li>
      <NavLink href="/credits/">Credits</NavLink>
    </li>
  </ul>

  <div class="flex flex-row justify-center gap-6 mt-4 md:mt-0">
    <NavLink
      href="/contact/"
      title="Contact"
      class="hover:text-primary"
    >
      <Icon name="mdi:envelope" size={30} />
    </NavLink>

    <a
      href="https://www.linkedin.com/in/michal-ilyayev/"
      target="_blank"
      title="My Linkedin Profile"
      class="hover:text-[#0a66c2]"
    >
      <Icon name="mdi:linkedin" size={30} />
    </a>
    <a
      href="https://github.com/michal-ilyayev"
      target="_blank"
      title="My GitHub Profile"
      class="hover:text-black"
    >
      <Icon name="mdi:github" size={30} />
    </a>
  </div>

</nav>

<style is:global>
  footer nav {
    @apply w-full min-w-[50%] flex flex-col md:flex-row justify-around items-center gap-2 md:gap-8;

    ul {
      @apply flex flex-row justify-around items-center gap-2 md:gap-8;

      li a {
        @apply
        text-gray-500
        text-sm
        transition-all
        hover:text-primary-light
        bg-transparent rounded-md px-2 py-1
        ;

        &.active {
          @apply text-primary bg-violet-50 rounded-md px-2 py-1;
        }
      }
    }
  }

</style>