---
import { Icon } from 'astro-icon/components';
import NavLink from '../NavLink.astro';
---

<nav>
  <ul>
    <li>
      <NavLink href="/">Home</NavLink>
    </li>
    <li>
      <NavLink href="/about/">About</NavLink>
    </li>
    <li>
      <NavLink href="/terms/">Terms</NavLink>
    </li>
    <li>
      <NavLink href="/privacy/">Privacy</NavLink>
    </li>
    <li>
      <NavLink href="/credits/">Credits</NavLink>
    </li>
    <li>
      <NavLink href="/contact/" title="Contact">
        <Icon name="mdi:envelope" size={36} />
      </NavLink>
    </li>
    <li class="flex flex-row gap-6">
      <a href="https://www.linkedin.com/in/michal-ilyayev/" target="_blank" title="My Linkedin Profile" class="hover:text-[#0a66c2]">
        <Icon name="mdi:linkedin" size={36} />
      </a>
      <a href="https://github.com/michal-ilyayev" target="_blank" title="My GitHub Profile" class="hover:text-black">
        <Icon name="mdi:github" size={36} />
      </a>
    </li>
  </ul>
</nav>

<style is:global>
  footer nav {
    @apply w-full min-w-[50%] border-b lg:border-0 border-gray-800 py-4 lg:py-0;

    ul {
      @apply flex flex-col md:flex-row justify-around items-center gap-2 md:gap-8;

      li a {
        @apply
        text-gray-500
        text-sm
        transition-all
        hover:text-primary-light
        ;

        &.active {
          @apply text-primary;
        }
      }
    }
  }

</style>