---
import FooterNav from './FooterNav.astro';
import ScrollUpBtn from './ScrollUpBtn.astro';
import { isDev } from '~/consts';

const homeUrl = isDev ? '/' : Astro.site;
const currentYear = new Date().getFullYear();
---

<footer class="print:hidden">
  <section
    class="bg-gray-900 py-4 lg:py-2 w-full bg-gradient-to-t from-gray-900 to-gray-800"
  >
    <div class="page-container flex flex-col-reverse lg:flex-row justify-between items-center gap-5">

        <p class="text-gray-400 text-sm font-light py-4">
          © Copyright {currentYear} -
          <a href={homeUrl} class="hover:text-white hover:border-b">
            Michal Ilyayev
          </a>
        </p>

      <div class="flex justify-center items-center">
        <FooterNav />
      </div>
    </div>
  </section>
</footer>
<ScrollUpBtn />