// https://tailwindcss.com/docs/using-with-preprocessors
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer base {
  html {
    --color-primary: #7065f9;
    --color-primary-light: #8f8af9;
    --color-secondary: #ffcc5f;

    font-family: Roboto, 'Open Sans', Arial, sans-serif;
    color: #434750;
    font-size: 18px;
    scroll-behavior: smooth;
  }
}


.page-container {
  @apply lg:container mx-auto w-full px-5;
}

.prose-custom {
  @apply
  mx-auto
  prose
  prose-lg
  prose-a:font-normal
  prose-a:transition
  prose-a:ease-linear
  prose-a:duration-100

  prose-a:text-primary
  hover:prose-a:text-secondary

  prose-a:no-underline
  hover:prose-a:underline
  max-w-[70ch]
  ;
}


.btn-primary {
  @apply
  inline-flex
  justify-center
  items-center
  relative
  bg-primary
  text-white
  py-2
  px-8
  rounded-md
  text-lg
  no-underline

  shadow-sm
  drop-shadow-sm

  transition
  ease-linear
  duration-100

  hover:bg-primary-light;
}