---
import Layout from './Layout.astro';

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
    image?: string;
  };
}

const props = Astro.props.frontmatter;
---

<Layout {...props}>
  <div class="flex flex-col justify-between min-h-screen w-full h-full">

    <div class="py-16 px-5 mx-auto">
      <article class="prose-custom">
        <slot />
      </article>
    </div>
  </div>
</Layout>
